<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ozymandias</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="login-div">
        <h1>Welcome to Ozymandias!</h1>
        <form id="login-form">
            <label for="pin">Pin:</label>
            <input type="text" id="pin-login" name="pin-login" required>
            <label for="password">Password:</label>
            <input type="password" id="password-login" name="password-login" required>
            <br>
            <button type="submit">Go!</button>
            <p id="register-message">Are you new? <button type="button" id="register-button">Register here!</button></p>
        </form>
    </div>
    <img src="../assets/universidad_1.webp" id="login-image" alt="Login image">
</body>
</html>
